.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-right: 515px;
}

.App-title {
  font-size: calc(10px + 2vmin);
  color: #E0354B;
  font-weight: bold;
  margin-right: 200px;
  margin-top: -80px;
}

.App-link {
  color: #61dafb;
}
